@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --biggest-font-size: 5rem;
  --bigger-font-size: 3.5rem;
  --big-font-size: 2.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
}
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 7.5rem;
    --bigger-font-size: 4.5rem;
    --big-font-size: 4rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 3rem 0 0 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  background-color:  hsl(206, 4%, 6%);
  color: hsl(206, 4%, 75%);
}
h1, h2, h3 {
  color: hsl(206, 4%, 95%);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button,input {
  border: none;
  outline: none;
}
button {
  cursor: pointer;
}
img {
  max-width: 100%;
  height: auto;
}
.section {
  padding: 4rem 0 2rem;
}
.section__title {
  font-size: var(--bigger-font-size);
  text-align: center;
  margin-bottom: 2.5rem;
}
.section__title-gradient {
  background: linear-gradient(hsl(206, 4%, 24%), hsl(206, 4%, 8%));
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
/* LAYOUT */
.main {
  overflow: hidden;
}
.container {
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.grid {
  display: grid;
}
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: transparent;
}
/* NAV */
.nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  display: flex;
  width: 1.5rem;
}
.nav__toggle {
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: hsl(206, 4%, 6%);
    top: -100%;
    left: 0;
    width: 100%;
    padding: 4rem 0 3rem;
    transition: .4s;
  }
}
.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}
.nav__link {
  font-size: var(--h2-font-size);
  text-transform: uppercase;
  font-weight: 600;
  background: linear-gradient(hsl(206, 4%, 24%), hsl(206, 4%, 8%));
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  transition: .4s;
}
.nav__link:hover {
  background: #fff;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.nav__close {
  position: absolute;
  font-size: 1.5rem;
  top: 1rem;
  right: 1rem;
  color: #fff;
  cursor: pointer;
}
.show-menu {
  top: 0;
}
.scroll-header {
  background-color: hsl(206, 4%, 6%);
}
/* Active link */
.active-link {
  background: #fff;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
/* HOME */
.home__img {
  width: 250px;
  top: -16rem;
  right: 1.5rem;
}
.home__data {
  padding-top: 5rem;
}
.home__header {
  position: relative;
}
.home__title {
  position: absolute;
  top: -4rem;
  left: 1rem;
  line-height: 6rem;
  font-size: var(--biggest-font-size);
  background: linear-gradient(hsl(206, 4%, 24%), hsl(206, 4%, 8%));
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.home__subtitle {
  font-size: var(--big-font-size);
  margin-bottom: 2.5rem;
}
.home__title-description {
  font-size: var(--h3-font-size);
  font-weight: 500;
  margin-bottom: 1rem;
}
.home__description {
  margin-bottom: 2.5rem;
  line-height:  2rem;
}
/* BUTTONS */
.button {
  display: inline-block;
  background-color: hsl(206, 4%, 4%);
  color: #fff;
  padding: 1rem 1.25rem;
  border-radius: .5rem;
  transition: .3s;
}
.button:hover {
  background-color: hsl(0, 0%, 15%);
}
.button__icon {
  font-size: 1.2rem;
}
.button--flex {
  display: inline-flex;
  align-items: center;
  column-gap: .75rem;
}
/* SPONSOR */
.sponsor_img {
  width: 90px;
}
.sponsor_container {
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  row-gap: 5rem;
  justify-items: center;
  align-items: center;
}
/* OVERVIEW */
.overview__container {
  position: relative;
}
.overview__content {
  row-gap: 1.5rem;
}
.overview__data {
  display: grid;
  row-gap: .25rem;
}
.overview__icon {
  font-size: 1.2rem;
  color: #fff;
}
.overview__title {
  font-size: var(--normal-font-size);
  font-weight: 500;
}
.overview__subtitle {
  font-size: var(--smaller-font-size);
}
.overview__data:nth-child(1), .overview__data:nth-child(4) {
  margin-left: 1.5rem;
}
.overview__img {
  width: 250px;
  position: absolute;
  top: 2rem;
  right: -4rem;
}
/* MORE */
.more__container {
  position: relative;
  grid-template-columns: repeat(2, 1fr);
}
.more__data {
  padding: 5rem 0 3rem;
}
.more__img {
  width: 250px;
  position: absolute;
  left: -7rem;
}
.more__description {
  margin-bottom: 1.5rem;
  line-height:  2rem;
}
/* DISCOUNT */
.discount__container {
  position: relative;
  background-color: hsl(206, 4%, 10%);
  padding: 2rem 1.5rem;
  border-radius: .75rem;
}
.discount__title {
  font-size: var(--h3-font-size);
  margin-bottom: .75rem;
}
.discount__description {
  margin-bottom: 1rem;
}
.discount__img {
  width: 300px;
  position: absolute;
  top: 4rem;
  right: -11rem;
}
/* PRODUCTS */
.products__line {
  line-height: 4rem;
}
.products__container {
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem 1.5rem;
  padding-top: 3rem;
}
.products__card {
  position: relative;
  height: 132px;
  background-color: hsl(206, 4%, 10%);
  padding: .75rem;
  border-radius: 15%;
  display: grid;
}
.products__img {
  width: 80px;
  position: absolute;
  inset: 0;
  margin-right: auto;
  margin-left: auto;
  top: -4rem;
}
.products__content {
  align-self: flex-end;
}
.products__title, .products__price {
  font-size: var(--small-font-size); 
}
.products__price {
  font-weight: 600;
}
.products__button {
  position: absolute;
  right: .5rem;
  bottom: .5rem;
  padding: .5rem;
  border-radius: 50%;
}
/* FOOTER */
.footer__container {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 2rem;
}
.footer__logo {
  width: 3.2rem;
}
.footer__title {
  font-size: var(--h3-font-size);
  font-weight: 500;
  margin-bottom: 1rem;
}
.footer__links {
  display: flex;
  flex-direction: column;
  row-gap: .5rem;
}
.footer__link {
  color: hsl(206, 4%, 75%);
}
.footer__link:hover {
  color: #fff;
}
.footer__form {
  display: flex;
  column-gap: .5rem;
  background-color: hsl(206, 4%, 10%);
  padding: .5rem .75rem;
  border-radius: 15%;
  margin-bottom: 2rem;
}
.footer__input {
  background-color:hsl(206, 4%, 10%);
  width: 90%;
  color: #fff;
}
.footer__input::placeholder {
  color: hsl(206, 4%, 75%);
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
}
.footer__social {
  display: flex;
  column-gap: 1.25rem;
}
.footer__social-link {
  display: inline-flex;
  color: #fff;
  background-color: hsl(206, 4%, 10%);
  padding: .5rem;
  border-radius: 50%;
  font-size: 1rem;
}
.footer__social-link:hover {
  background-color: hsl(240, 1%, 21%);
}
.footer__copy {
  margin-top: 5rem;
  text-align: center;
}
.footer__copy-link {
  font-size: var(--smaller-font-size);
  color: hsl(206, 4%, 65%);
}
/* SCROLL UP */
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  background-color: hsl(206, 4%, 10%);
  border-radius: 20%;
  padding: .45rem;
  opacity: 9;
  z-index: 10;
  transition: .4s;
}
.scrollup:hover {
  background-color: hsl(240, 6%, 49%);
  opacity: 1;
}
.scrollup__icon {
  color: #fff;
  font-size: 1.35rem;
}
.show-scroll {
  bottom: 5rem;
}
::-webkit-scrollbar {
  width: .60rem;
  border-radius: .5rem;
}
::-webkit-scrollbar-thumb {
  background-color:hsl(206, 4%, 16%);
  border-radius: .5rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(206, 4%, 20%);
}

@media screen and (max-width: 340px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .section__title {
    font-size: var(--big-font-size);
  }
  .home__img {
    width: 200px;
    top: -13rem;
  }
  .home__title {
    top: -4rem;
    font-size: var(--bigger-font-size);
  }
  .home__data {
    padding-top: 1rem;
  }
  .home__description {
    font-size: var(--small-font-size);
  }
  .overview__img {
    width: 200px;
  }
  .more__container {
    grid-template-columns: .6fr 1fr;
  }
  .more__img {
    width: 220px;
    top: -2rem;
    left: -9rem;
  }
  .more__data {
    padding: 0;
  }
  .products__container {
    grid-template-columns: 142px;
    justify-content: center;
  }
}
@media screen and (min-width: 576px) {
  .home__container {
    grid-template-columns: .8fr 1fr;
  }
  .home__data {
    padding-top: 2rem;
  }
  .home__img {
    top: -7rem;
    left: 0;
  }
  .overview__img {
    position: initial;
  }
  .overview__container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }
  .more__img {
    position: initial;
  }
  .more__data {
    padding: 0;
  }
  .more__container {
    grid-template-columns: max-content 250px;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
  }
  .discount__img {
    position: initial;
  }
  .discount__container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }
  .products__container {
    grid-template-columns: repeat(3, 142px);
    justify-content: center;
  }
}
@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }
  .section {
    padding: 6rem 0 2rem;
  }
  .nav {
    height: calc(3rem + 1.5rem);
  }
  .nav__logo {
    width: 6rem;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 3.5rem;
  }
  .nav__link {
    font-size: var(--normal-font-size);
    text-transform: initial;
  }
  .nav__toggle, .nav__close {
    display: none;
  }
  .home__container {
    position: relative;
    grid-template-columns: repeat(2, 1fr);
  }
  .home__img {
    top: -9rem;
    left: 4rem;
  }
  .home__data {
    padding-top: 8rem;
  }
  .overview__img {
    width: 300px;
  }
  .more__container {
    column-gap: 5rem;
  }
  .more__img {
    width: 300px;
  }
  .more__description {
    margin-bottom: 2rem;
  }
  .discount__container {
    grid-template-columns: 250px max-content;
    justify-content: center;
    column-gap: 5rem;
    padding: 3rem 0;
  }
  .discount__title {
    font-size: var(--h2-font-size);
    margin-bottom: 1rem;
  }
  .discount__description {
    margin-bottom: 2rem;
  }
  .products__container {
    grid-template-columns: repeat(3, 162px);
    gap: 6rem 3rem;
    padding-top: 5rem;
  }
  .products__card {
    height: 152px;
    padding: .85rem;
  }
  .products__img {
    width: 95px;
  }
  .footer__container {
    grid-template-columns: .4fr .7fr .7fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .home__img {
    width: 310px;
    top: -15rem;
  }
  .home__title {
    top: -5rem;
    left: 3.5rem;
  }
  .home__description {
    padding-right: 2.5rem;
  }
  .sponsor__img {
    width: 100px;
  }
  .discount__img {
    width: 350px;
  }
  .footer__container {
    padding-top: 3rem;
  }
  .footer__copy {
    margin-top: 9rem;
  }
}

